<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Subscription">
    <parameter name="browser" value="Microsoftedge"></parameter>
    <test verbose="2" preserve-order="true" name="Full_Test_For_Subscription.V">
        <classes>
            <class name="tests.Registration_Test"/>
            <class name="tests.Login_Test"/>
        </classes>
    </test>
</suite>